# ======================
# Maven
# ======================
target/
*.jar
*.war
*.ear

# ======================
# Compilados Java
# ======================
*.class

# ======================
# Banco de dados local
# ======================
*.db

# ======================
# Logs
# ======================
*.log

# ======================
# IDEs
# ======================
# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# ======================
# Sistema operacional
# ======================
.DS_Store
Thumbs.db

# ======================
# Arquivos temporários
# ======================
*.tmp
*.swp